.blog-mini-slider {
    min-width: 0;
    position: relative;
    margin-bottom: 47px;

    .slick-list {
        overflow: hidden;
        margin-left: -15px;
    }

    .slick-track {
        display: flex;

    }

    .slick-arrow {
        z-index: 10;
        position: absolute;
        bottom: -90px;
        right: 15px;
        width: 80px;
        height: 60px;
        background-color: $accent;
        border: none;
        color: $white;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: $accent-hover;
        }
    }

    .slick-prev {
        padding-left: 29px;
        right: 95px;
    }

    .slick-next {
        padding-left: 15px;

    }

    &__slide {
        padding: 0 15px;
    }

    &__slide-content {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0 50px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #fff;

        &--first-item {
            background-image: linear-gradient(180deg,
                    rgba(41, 45, 51, 0.6) 99.99%,
                    rgba(41, 45, 51, 0) 100%), url("@img/blog-1.jpg");
        }

        &--second-item {
            background-image: linear-gradient(180deg,
                    rgba(41, 45, 51, 0.6) 99.99%,
                    rgba(41, 45, 51, 0) 100%), url("@img/blog-2.jpg");
        }

        &--third-item {
            background-image: linear-gradient(180deg,
                    rgba(41, 45, 51, 0.6) 99.99%,
                    rgba(41, 45, 51, 0) 100%), url("@img/blog-1.jpg");
        }

    }

    &__slide-title {
        color: $white;
        margin-bottom: 10px;
    }

}