.blog-mini {
    &__title {
        margin-bottom: 50px;

        @media #{$screen-450} {
            margin-bottom: 30px;
        }
    }

    &__nav {
        @media #{$screen-450} {
            margin-top: 35px;
        }
    }

}