.breadcrumbs {
    font-weight: 400;

    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: $font-size-small;
        margin: 0;
        padding: 0;

        @media(max-width: 767px) {
            font-size: $font-size-extraSmall
        }
    }

    &__item {
        padding-right: 34px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            right: 10px;
            width: 14px;
            height: 1px;
            background-color: $text-gray;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            color: $black;

            &::after {
                display: none;
            }
        }
    }

}