.button {
    cursor: pointer;

    &__main {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        color: $white;
        padding: 24px 50px;
        transition: all .3s;

        &:hover {
            background-color: $accent-hover;
        }

        &--disabled {
            color: $regent-gray;
            background-color: $athens-gray;

            &:hover {
                background-color: $athens-gray;
            }
        }
    }


    &__stroke {
        color: $accent;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        padding-left: 60px;
        position: relative;
        cursor: pointer;
        transition: all .3s;

        @media #{$screen-768} {
            font-weight: 700;
            font-size: 14px;
            line-height: 160%;
        }

        &::before {
            position: absolute;
            content: "";
            width: 40px;
            height: 1px;
            left: 0;
            top: 50%;
            background-color: $accent;
            transition: all .3s;
        }

        &:hover {
            padding-left: 80px;

            &::before {
                width: 60px;
            }
        }
    }
}