.footer {
    background-color: $white;
}

.footer-top {
    padding: 50px 0;

    @media #{$screen-992} {
        padding: 50px 0 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$screen-1440} {
            justify-content: flex-start;
        }

        @media #{$screen-992} {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__logo {
        display: inline-block;
        vertical-align: top;
        height: 63px;

        @media #{$screen-1440} {
            margin-right: 10px;

            svg {
                width: 160px;
                height: 50px;
            }

            height: 50px;
        }
    }

    &__phone {
        font-weight: 600;
        font-size: 32px;
        line-height: 110%;
        color: $black;
        border-bottom: 2px solid $black;
        margin-left: 160px;
        margin-right: auto;

        @media #{$screen-1440} {
            margin-left: auto;
            font-size: 22px;
        }

        @media #{$screen-992} {
            margin: 30px 0 20px 0;
            font-size: 28px;
            line-height: 160%;
        }
    }

    &__contacts {
        color: $black;
        margin-right: 57px;

        @media #{$screen-1440} {
            margin-right: 30px;
        }

        @media #{$screen-992} {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            margin-right: 0;
        }

        & a {
            padding-left: 34px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 24px;
                height: 24px;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
            }
        }

        & .footer-top__address {
            margin-right: 36px;

            @media #{$screen-1440} {
                margin-right: 20px;
            }

            &::before {
                background-image: url("@img/icons/mark.svg");
            }
        }

        & .footer-top__email {
            &::before {
                background-image: url("@img/icons/mail.svg");
            }
        }
    }

    &__social {
        & .footer-top__vk {
            margin-right: 15px;
        }

        & .footer-top__vk,
        & .footer-top__inst {


            svg {
                path {
                    transition: all .3s;
                    fill: $accent;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: $accent-hover;
                    }
                }
            }
        }
    }
}

.footer-center {
    padding: 50px 0;
    border-top: 1px solid $athens-gray;
    border-bottom: 1px solid $athens-gray;

    @media #{$screen-992} {
        padding: 30px 0;
    }

    &__inner {
        display: flex;

        @media #{$screen-1440} {
            flex-wrap: wrap;
        }

    }

    &__link {
        display: block;
        margin-bottom: 30px;
    }

    &__list-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: $black;
        margin-bottom: 30px;

        @media #{$screen-768} {
            margin-bottom: 20px;
        }
    }

    &__lists-box {
        margin-right: 160px;

        @media #{$screen-1440} {
            margin-right: 50px;
        }

        @media #{$screen-768} {
            margin-right: 0;
        }

        &:first-child {
            @media #{$screen-768} {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // flex-wrap: wrap; 
                width: 100%;

                & .footer-center__lists {
                    justify-content: flex-start;
                }
            }
        }
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        width: 588px;

        @media #{$screen-1440} {
            width: 460px;
        }

        @media #{$screen-768} {
            width: 100%;
        }

        @media #{$screen-500} {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__list {
        margin-left: 20px;
        padding: 0;

        @media #{$screen-1440} {
            margin-bottom: 30px;
        }

        @media #{$screen-992} {
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media #{$screen-500} {
            margin-bottom: 20px;
            // width: 100%;
        }

        &--bold {
            @media #{$screen-992} {
                margin-left: 0;
            }

            @media #{$screen-768} {
                margin-left: 75px;
            }

            @media #{$screen-500} {
                width: 100%;
                margin-left: 0;
                margin-top: 30px;
            }

            li {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                color: $black;
            }
        }
    }

    &__list-item {
        margin-bottom: 15px;

        @media #{$screen-768} {
            max-width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // a {
    //     font-size: 14px !important;
    //     line-height: 160%;
    // }
}

.footer-bottom {
    margin: 20px 0;
    font-size: 12px;
    line-height: 160%;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$screen-768} {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__copy {
        margin-right: 80px;

        @media #{$screen-768} {
            margin-bottom: 10px;
        }
    }

    &__confidential {
        text-decoration: underline;
        margin-right: auto;

        @media #{$screen-768} {
            margin-bottom: 10px;
        }
    }

    &__created-text {
        margin-right: 10px;
    }

    &__created-link {
        svg {
            path {
                transition: all .3s;
                fill: $text-gray;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $accent-hover;
                }
            }
        }
    }

}