.form {
    width: 100%;

    &__input-box {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 30px;
    }

    &__input {
        width: 50%;
        border: 1px solid #E4E4EB;
        background-color: transparent;
        padding: 20px 10px 20px 30px;
    }

    &__bottom {
        display: flex;
    }

    &__btn {
        width: 265px;
        height: 62px;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        margin-right: 30px;

        // padding: 20px 50px;
    }

    &__info {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        max-width: 403px;
        padding-left: 24px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 24px;
            height: 14px;
            top: 0;
            left: 0;
            background-image: url("@img/icons/shield.svg");
            background-repeat: no-repeat;

        }
    }
}