.header {
    z-index: 99999;
    position: fixed;
    flex-shrink: 0;
    top: 0;
    left: 0;
    right: 0;
    color: $white;
    font-size: $font-size-normal;
    transition: all .5s;

    &--transparent {
        background-color: transparent;
        transition: all .5s;
    }

    &--solid {
        background-color: $white;
        box-shadow: 0px 2px 4px rgba($black, 0.1);
        color: $black;
        transition: all .5s;

        & .menu {
            border-bottom: none;
        }

        & .menu__item {
            padding: 23px 0;
        }

        & .menu__btn {
            border-right: 1px solid $athens-gray;
            transition: all .5s;

            span {
                background-color: $black;
                transition: all .5s;
            }
        }

        & .logo {
            transition: all .5s;

        }

        & .submenu {
            top: 74px;
        }

        & .menu__item.menu__phone::before {
            top: 23px;
        }

        svg {
            & .changing-fill {
                fill: $black;
            }
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__btn {
        z-index: 999;
        align-self: stretch;
        align-content: center;

        @media #{$screen-1745} {
            font-size: 14px;
            padding: 30px 24px;
        }

        @media #{$screen-1440} {
            // height: px;
            width: 80px;
            flex-shrink: 0;
            padding: 0;

            span {
                display: none;
            }
        }

        svg {
            display: none;

            @media #{$screen-1440} {
                display: block;
            }
        }
    }

}