.logo {
    z-index: 999;
    padding: 0 50px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba($athens-gray, .2);
    border-bottom: 1px solid rgba($athens-gray, .2);

    @media #{$screen-1745} {
        padding: 0 30px;
    }

    @media #{$screen-1440} {
        // padding: 14px 0 15px;
        height: 68px;
        width: 100%;
        padding: 0;
        // display: flex;
        // justify-content: center;
        border-right: none;
    }

    &__link {
        display: inline-block;
        vertical-align: top;
        height: 44px;

        @media #{$screen-1440} {
            svg {
                height: 38px;
            }

            height: 38px;
        }
    }

    .changing-fill {
        fill: $white;
        transition: all .3s;

        &--black {
            fill: $black;
        }
    }

}

.logo-border-in-menu {
    transition: all .5s;
    border-bottom: 1px solid $athens-gray;
    background-color: $white;
}