.menu {
    position: relative;
    flex-grow: 1;
    border-bottom: 1px solid rgba($athens-gray, .2);

    &__list {
        margin: 0 50px;
        display: flex;

        @media #{$screen-mobile} {
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            left: 0;
            right: 0;
            height: 100vh;
            background-color: lightseagreen;
            transform: translateY(-200%);
            transition: all .3s;
        }

        &.menu__list--active {
            transform: translateY(0);
            transition: all .3s;
        }
    }

    &__item {
        margin-right: 50px;
        position: relative;
        cursor: pointer;
        padding: 33px 0;
        border-bottom: 2px solid rgba($accent, 0);
        transition: all .3s;

        &:hover {
            border-bottom: 2px solid rgba($accent, 1);

            & .menu__submenu {
                display: block;
            }
        }

        &.menu__phone {
            margin-left: auto;
            padding-left: 34px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                top: 32px;
                left: 0;
                width: 24px;
                height: 24px;
                background-image: url("@img/icons/phone.svg");
                background-repeat: no-repeat;
            }

            &::after {
                display: none;
            }
        }

        @media #{$screen-mobile} {
            margin: 25px 0;
            font-size: 30px;
        }

        &:last-child {
            margin-right: 0;
            border-bottom: none;
        }
    }

    &__btn {
        z-index: 999;
        display: none;
        padding: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        border-radius: 0;
        background-color: transparent;

        @media #{$screen-mobile} {
            display: block;
        }

        &.menu__btn--close {

            span {
                transition: all .3s;

                &:first-child {
                    transform: translateY(10px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateX(20px);
                    width: 0;
                    background-color: transparent;
                }

                &:last-child {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }

        span {
            display: block;
            height: 3px;
            width: 100%;
            margin: 7px 0;
            background-color: $black;
            transition: all .3s;
        }
    }

}