.request {
    padding-top: 74px;
    margin-top: 100px;
    position: relative;
    background-color: $bg-grey;
    height: 552px;
    position: relative;

    @media #{$screen-1280} {
        margin-top: 0;
        padding: 50px 0;
        height: auto;
    }

    &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 37.5%;
        height: 620px;
        background-image: url("@img/request-bg.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;

        @media #{$screen-1280} {
            display: none;
        }
    }

    &__inner {
        display: flex;

        @media #{$screen-1280} {
            justify-content: center;
        }

    }

    &__content {
        width: 840px;
        margin-left: auto;

        @media #{$screen-1280} {
            margin-left: 0;
        }
    }

    &__title {
        margin-bottom: 20px;

        &::before {
            display: none;
        }
    }

    &__text {
        max-width: 640px;
        margin-bottom: 42px;

        @media #{$screen-768} {
            margin-bottom: 30px;
        }
    }

}