.spheres {
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media #{$screen-1280} {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__content {
        max-width: 670px;

        // margin-right: 20px;
        @media #{$screen-1280} {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 38px;
    }

    &__lists {
        display: flex;
        color: $black;

        @media #{$screen-450} {
            flex-wrap: wrap;
        }
    }

    &__list:first-child {
        padding: 0;
        margin-right: 70px;

        @media #{$screen-768} {
            margin-right: 10px;
        }

        @media #{$screen-450} {
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
        }

        .spheres__item {
            &:nth-child(1) {
                &::before {
                    background-image: url("@img/icons/list-item-1.svg");
                }
            }

            &:nth-child(2) {
                &::before {
                    background-image: url("@img/icons/list-item-2.svg");
                }
            }

            &:nth-child(3) {
                &::before {
                    background-image: url("@img/icons/list-item-3.svg");
                }
            }

            &:nth-child(4) {
                &::before {
                    background-image: url("@img/icons/list-item-4.svg");
                }
            }

            &:nth-child(5) {
                &::before {
                    background-image: url("@img/icons/list-item-5.svg");
                }
            }
        }
    }

    &__list:last-child {
        padding: 0;

        @media #{$screen-450} {
            width: 100%;
        }

        .spheres__item {
            &:nth-child(1) {
                &::before {
                    background-image: url("@img/icons/list-item-2.svg");
                }
            }

            &:nth-child(2) {
                &::before {
                    background-image: url("@img/icons/list-item-6.svg");
                }
            }

            &:nth-child(3) {
                &::before {
                    background-image: url("@img/icons/list-item-7.svg");
                }
            }

            &:nth-child(4) {
                &::before {
                    background-image: url("@img/icons/list-item-8.svg");
                }
            }

            &:nth-child(5) {
                &::before {
                    background-image: url("@img/icons/list-item-9.svg");
                }
            }
        }
    }

    &__item {
        padding-left: 50px;
        position: relative;
        margin-bottom: 22px;

        &::before {
            position: absolute;
            content: "";
            width: 30px;
            height: 30px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icons {
        // display: grid;
        // max-width: 100%;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // grid-gap: 1px;
        // background-color: $athens-gray;
        // border: 1px solid $athens-gray;
        // align-items: center;
        // justify-items: center;

        width: 720px;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $athens-gray;
        border-right: 1px solid $athens-gray;

        @media #{$screen-768} {
            width: 100%;
        }
    }

    &__icon-box {
        flex: 0 1 33.3333%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(1);
        transition: all .3s;
        cursor: pointer;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // min-width: 240px;
        // height: 160px;
        // background-color: $white;

        border-left: 1px solid $athens-gray;
        border-bottom: 1px solid $athens-gray;

        @media #{$screen-768} {
            flex: 0 1 50%;

            &:last-child {
                display: none;
            }


        }

        @media #{$screen-450} {
            height: 110px;

            & img {
                width: 50px;
            }
        }

        &:hover {
            filter: grayscale(0);
        }
    }
}