.title {
    &__h1 {
        font-family: 'BebasNeue';
        font-weight: 400;
        font-size: 80px;
        line-height: 120%;
        text-transform: uppercase;
        color: $text-black;
        position: relative;
        padding-top: 30px;

        &::before {
            position: absolute;
            content: "";
            width: 150px;
            height: 2px;
            top: 0;
            left: 0;
            background-color: $accent;
        }

        @media #{$screen-1440} {
            font-size: 60px;
        }

        @media #{$screen-768} {
            font-size: 48px;
        }
    }

    &__h2 {
        font-family: 'BebasNeue';
        font-weight: 400;
        font-size: 60px;
        line-height: 120%;
        padding-top: 22px;
        text-transform: uppercase;
        position: relative;
        color: $text-black;
        margin-bottom: 50px;

        @media #{$screen-1440} {
            font-size: 48px;
            margin-bottom: 30px;
        }

        @media #{$screen-768} {
            font-size: 36px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 150px;
            height: 2px;
            top: 0;
            left: 0;
            background-color: $accent;
        }
    }

    &__h3 {
        font-family: 'NotoSans';
        font-weight: 400;
        font-size: 28px;
        line-height: 160%;
        color: $text-black;

        @media #{$screen-1440} {
            font-size: 20px;
            ine-height: 130%;
        }
    }

}