.title {
    &__h1 {
        font-family: 'BebasNeue';
        font-weight: 400;
        font-size: 80px;
        line-height: 120%;
        text-transform: uppercase;
        color: $text-black;
    }

    &__h2 {
        font-family: 'BebasNeue';
        font-weight: 400;
        font-size: 60px;
        line-height: 120%;
        padding-top: 22px;
        text-transform: uppercase;
        position: relative;
        color: $text-black;

        &::before {
            position: absolute;
            content: "";
            width: 150px;
            height: 2px;
            top: 0;
            left: 0;
            background-color: $accent;
        }
    }

    &__h3 {
        font-family: 'NotoSans';
        font-weight: 400;
        font-size: 28px;
        line-height: 160%;
        color: $text-black;
    }
}