html {
    height: 100%;
}

body {
    min-width: 320px;
    // overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $white;
    font-family: $font-family-default, 'Helvetica', 'Arial', sans-serif;
    font-size: $font-size-normal;
    line-height: 26px;
    color: $text-gray;
    display: flex;
    flex-direction: column;
}

.overflow-hidden {
    overflow: hidden;
}

.wrapper-overflow-x {
    position: relative;
    overflow-x: hidden;
}

main {
    flex-grow: 1;

    @media #{$screen-mobile} {
        padding-top: 90px;
    }
}

a {
    color: inherit;
}

section {
    padding: 75px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}